{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1 class="text-center p-4">Edit Article</h1>

<div class="container pt-lg-4 mb-lg-4">

    <div class="col text-center">

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('home_index') }}">back to list</a>

    {{ include('article/_delete_form.html.twig') }}

    </div>
</div>
{% endblock %}
